.clipboardCopy {
  h2 {
    margin-bottom: 20px;
    font-family: 'NanumSquareB';
    font-size: 17px;
  }
  textarea {
    display: block;
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
  }
  button {
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #333;
  }
}