.tab {
   > ul {
     display: flex;
     justify-content: space-between;
     max-width: 800px;

     > li {
       width: 28%;

       > button {
         display: block;
         position: relative;
         width: 100%;
         padding: 50px 0;
         font-family: 'NanumSquareB';
         font-size: 17px;
         color: #000;
         letter-spacing: -0.425px;
         text-align: center;
         box-shadow: 0px 0px 28.8px 1.2px rgba(112,112,112,0.21);
         transition: box-shadow .2s ease-in-out;

         &:hover {
           box-shadow: 0px 0px 28.8px 1.2px rgba(112,112,112,0.4);
         }

         &.on {
           outline: 2px solid #000;
         }
       }
     }
   }
}